# Entrega Nro1 DataEngineer comision cincomil y pico
Para esta entrega se utilizara la API de CoinGecko la cual utilizaremos para traer la cotización del token de preferencia del cual desee utilizar la person

## Importamos librerias

In [1]:
import pandas as pd
import requests

### Definimos la URL base de la API de CoinGecko

In [2]:
base_url = "https://api.coingecko.com/api/v3"

Vamos a traer la información sobre las principales criptomonedas ordenadas por capitalización de mercado en dólares.

In [3]:
endpoint = "/coins/markets"
url = base_url + endpoint
parameters = {
    "vs_currency" : "usd"
}

try:
    response = requests.get(url, params = parameters)
    response.raise_for_status()  # Verificar si la solicitud fue exitosa
    data = response.json()
except requests.exceptions.RequestException as e:
    print(f"Error al realizar la solicitud:, {e}")

Si la consulta no levantó una excepcion, la trasformamos en un Dataframe para examinar que datos trajo

In [4]:
df = pd.DataFrame(data)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                100 non-null    object
 1   symbol                            100 non-null    object
 2   name                              100 non-null    object
 3   image                             100 non-null    object
 4   current_price                     100 non-null    float64
 5   market_cap                        100 non-null    int64
 6   market_cap_rank                   100 non-null    int64
 7   fully_diluted_valuation           94 non-null     float64
 8   total_volume                      100 non-null    float64
 9   high_24h                          100 non-null    float64
 10  low_24h                           100 non-null    float64
 11  price_change_24h                  100 non-null    float64
 12  price_change_percentage_24h       100 non-null    float64
 13  market_cap_change_24h             100 non-null    float64
 14  market_cap_change_percentage_24h  100 non-null    float64
 15  circulating_supply                100 non-null    float64
 16  total_supply                      94 non-null     float64
 17  max_supply                        58 non-null     float64
 18  ath                               100 non-null    float64
 19  ath_change_percentage             100 non-null    float64
 20  ath_date                          100 non-null    object
 21  atl                               100 non-null    float64
 22  atl_change_percentage             100 non-null    float64
 23  atl_date                          100 non-null    object
 24  roi                               23 non-null     object
 25  last_updated                      100 non-null    object
dtypes: float64(16), int64(2), object(8)
memory usage: 20.4+ KB

In [6]:
df.head(10)

,id,symbol,name,image,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,bitcoin,btc,Bitcoin,https://assets.coingecko.com/coins/images/1/la...,30641.000000,595124253331,1,6.438427e+11,1.341750e+10,30917.000000,...,2.100000e+07,2.100000e+07,69045.000000,-55.59565,2021-11-10T14:24:11.849Z,67.810000,45113.58900,2013-07-06T00:00:00.000Z,None,2023-06-24T19:53:49.974Z
1,ethereum,eth,Ethereum,https://assets.coingecko.com/coins/images/279/...,1888.130000,226962894637,2,2.269629e+11,5.801229e+09,1905.840000,...,1.201936e+08,NaN,4878.260000,-61.29360,2021-11-10T14:24:19.604Z,0.432979,435994.98073,2015-10-20T00:00:00.000Z,"{'times': 81.37699799059398, 'currency': 'btc'...",2023-06-24T19:53:53.801Z
2,tether,usdt,Tether,https://assets.coingecko.com/coins/images/325/...,1.000000,83243424091,3,8.324342e+10,1.429633e+10,1.003000,...,8.320202e+10,NaN,1.320000,-24.38576,2018-07-24T00:00:00.000Z,0.572521,74.74441,2015-03-02T00:00:00.000Z,None,2023-06-24T19:50:01.179Z
3,binancecoin,bnb,BNB,https://assets.coingecko.com/coins/images/825/...,236.630000,36879209556,4,4.732497e+10,7.233601e+08,248.460000,...,1.579002e+08,2.000000e+08,686.310000,-65.50504,2021-05-10T07:24:17.097Z,0.039818,594462.75029,2017-10-19T00:00:00.000Z,None,2023-06-24T19:53:52.216Z
4,usd-coin,usdc,USD Coin,https://assets.coingecko.com/coins/images/6319...,1.000000,28447787013,5,2.844779e+10,3.089635e+09,1.002000,...,2.845485e+10,NaN,1.170000,-14.73301,2019-05-08T00:40:28.300Z,0.877647,13.93324,2023-03-11T08:02:13.981Z,None,2023-06-24T19:53:48.520Z
5,ripple,xrp,XRP,https://assets.coingecko.com/coins/images/44/l...,0.487424,25472120559,6,4.874647e+10,5.639267e+08,0.501620,...,9.998866e+10,1.000000e+11,3.400000,-85.65148,2018-01-07T00:00:00.000Z,0.002686,18053.01228,2014-05-22T00:00:00.000Z,None,2023-06-24T19:53:46.960Z
6,staked-ether,steth,Lido Staked Ether,https://assets.coingecko.com/coins/images/1344...,1885.910000,13940667321,7,1.394134e+10,5.709031e+06,1905.130000,...,7.389328e+06,7.389328e+06,4829.570000,-60.92190,2021-11-10T14:40:47.256Z,482.900000,290.83022,2020-12-22T04:08:21.854Z,None,2023-06-24T19:53:12.131Z
7,cardano,ada,Cardano,https://assets.coingecko.com/coins/images/975/...,0.291963,10234817038,8,1.314215e+10,1.817922e+08,0.300220,...,4.500000e+10,4.500000e+10,3.090000,-90.54248,2021-09-02T06:00:10.474Z,0.019253,1416.38199,2020-03-13T02:22:55.044Z,None,2023-06-24T19:53:53.322Z
8,dogecoin,doge,Dogecoin,https://assets.coingecko.com/coins/images/5/la...,0.066719,9334101813,9,9.334112e+09,3.034337e+08,0.068737,...,1.399028e+11,NaN,0.731578,-90.87759,2021-05-08T05:08:23.458Z,0.000087,76694.77463,2015-05-06T00:00:00.000Z,None,2023-06-24T19:53:54.419Z
9,solana,sol,Solana,https://assets.coingecko.com/coins/images/4128...,16.690000,6678770562,10,9.202025e+09,2.630424e+08,17.520000,...,5.508292e+08,NaN,259.960000,-93.57447,2021-11-06T21:54:35.825Z,0.500801,3235.40960,2020-05-11T19:35:23.449Z,None,2023-06-24T19:53:55.498Z

Transformamos los datos y nos quedaremos con las columnas más relevantes

In [7]:
selected_columns = [
    'id', 
    'symbol', 
    'name', 
    'current_price', 
    'market_cap', 
    'market_cap_rank', 
    'total_volume', 
    'high_24h',
    'low_24h',
    'price_change_24h',
    'price_change_percentage_24h',
    'market_cap_change_24h',
    'market_cap_change_percentage_24h',
    'circulating_supply',
    'ath',
    'ath_change_percentage',
    'ath_date',
    'atl',
    'atl_change_percentage',
    'atl_date',
    'last_updated',
]

df_coins = df.loc[:, selected_columns]

Guardamos los datos

In [9]:
df_coins.to_json('./coins.json')

Volvemos a traer la información para generar la tabla

In [10]:
df_coins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                100 non-null    object
 1   symbol                            100 non-null    object
 2   name                              100 non-null    object
 3   current_price                     100 non-null    float64
 4   market_cap                        100 non-null    int64
 5   market_cap_rank                   100 non-null    int64
 6   total_volume                      100 non-null    float64
 7   high_24h                          100 non-null    float64
 8   low_24h                           100 non-null    float64
 9   price_change_24h                  100 non-null    float64
 10  price_change_percentage_24h       100 non-null    float64
 11  market_cap_change_24h             100 non-null    float64
 12  market_cap_change_percentage_24h  100 non-null    float64
 13  circulating_supply                100 non-null    float64
 14  ath                               100 non-null    float64
 15  ath_change_percentage             100 non-null    float64
 16  ath_date                          100 non-null    object
 17  atl                               100 non-null    float64
 18  atl_change_percentage             100 non-null    float64
 19  atl_date                          100 non-null    object
 20  last_updated                      100 non-null    object
dtypes: float64(13), int64(2), object(6)
memory usage: 16.5+ KB

In [8]:
print(df_coins)

                    id symbol          name  current_price    market_cap  \
0              bitcoin    btc       Bitcoin   30641.000000  595124253331
1             ethereum    eth      Ethereum    1888.130000  226962894637
2               tether   usdt        Tether       1.000000   83243424091
3          binancecoin    bnb           BNB     236.630000   36879209556
4             usd-coin   usdc      USD Coin       1.000000   28447787013
..                 ...    ...           ...            ...           ...
95              chiliz    chz        Chiliz       0.078148     417888431
96          frax-share    fxs    Frax Share       5.730000     415978610
97                 sui    sui           Sui       0.746873     394652697
98                dash   dash          Dash      34.760000     394271551
99  trust-wallet-token    twt  Trust Wallet       0.924362     384689953

    market_cap_rank  total_volume      high_24h       low_24h  \
0                 1  1.341750e+10  30917.000000  30352.000000
1                 2  5.801229e+09   1905.840000   1872.130000
2                 3  1.429633e+10      1.003000      0.998763
3                 4  7.233601e+08    248.460000    232.360000
4                 5  3.089635e+09      1.002000      0.997787
..              ...           ...           ...           ...
95               96  3.152082e+07      0.080721      0.076635
96               97  1.190745e+07      5.890000      5.550000
97               98  8.317625e+07      0.816127      0.741331
98               99  4.745790e+07     35.640000     34.300000
99              100  7.719832e+06      0.946483      0.910752

    price_change_24h  ...  market_cap_change_24h  \
0        -172.620123  ...          -2.230776e+09
1          -7.659425  ...          -9.564353e+08
2           0.001531  ...           7.766848e+07
3          -8.509420  ...          -1.339842e+09
4           0.001304  ...           6.284807e+07
..               ...  ...                    ...
95          0.000414  ...           1.929138e+06
96         -0.091346  ...          -7.014289e+06
97         -0.058346  ...          -3.009389e+07
98         -0.198036  ...          -2.304034e+06
99         -0.010834  ...          -5.202073e+06

    market_cap_change_percentage_24h  circulating_supply           ath  \
0                           -0.37344        1.941097e+07  69045.000000
1                           -0.41964        1.201936e+08   4878.260000
2                            0.09339        8.320202e+10      1.320000
3                           -3.50569        1.558552e+08    686.310000
4                            0.22141        2.845485e+10      1.170000
..                               ...                 ...           ...
95                           0.46378        5.344065e+09      0.878633
96                          -1.65825        7.259584e+07     42.800000
97                          -7.08514        5.282737e+08      2.160000
98                          -0.58098        1.133579e+07   1493.590000
99                          -1.33423        4.166499e+08      2.720000

    ath_change_percentage                  ath_date        atl  \
0               -55.59565  2021-11-10T14:24:11.849Z  67.810000
1               -61.29360  2021-11-10T14:24:19.604Z   0.432979
2               -24.38576  2018-07-24T00:00:00.000Z   0.572521
3               -65.50504  2021-05-10T07:24:17.097Z   0.039818
4               -14.73301  2019-05-08T00:40:28.300Z   0.877647
..                    ...                       ...        ...
95              -91.05214  2021-03-13T08:04:21.200Z   0.004109
96              -86.61038  2022-01-12T15:22:27.465Z   1.500000
97              -65.44308  2023-05-03T12:00:26.430Z   0.557963
98              -97.66722  2017-12-20T00:00:00.000Z   0.213899
99              -65.98786  2022-12-11T23:25:46.205Z   0.002776

    atl_change_percentage                  atl_date              last_updated
0             45113.58900  2013-07-06T00:00:00.000Z  2023-06-24T19:53:49.974Z
1            435994.98073  2015-10-20T00:00:00.000Z  2023-06-24T19:53:53.801Z
2                74.74441  2015-03-02T00:00:00.000Z  2023-06-24T19:50:01.179Z
3            594462.75029  2017-10-19T00:00:00.000Z  2023-06-24T19:53:52.216Z
4                13.93324  2023-03-11T08:02:13.981Z  2023-06-24T19:53:48.520Z
..                    ...                       ...                       ...
95             1813.39171  2019-09-28T00:00:00.000Z  2023-06-24T19:53:53.068Z
96              281.24533  2021-06-25T16:50:51.447Z  2023-06-24T19:53:48.120Z
97               33.93349  2023-06-10T06:00:47.648Z  2023-06-24T19:53:56.107Z
98            16189.08759  2014-02-14T00:00:00.000Z  2023-06-24T19:53:53.797Z
99            33232.20897  2020-06-09T09:15:06.983Z  2023-06-24T19:53:47.603Z

[100 rows x 21 columns]

## Ahora vamos a pedir la cotización historica de los ultimos 90 días del top 10 de las criptomonedas con mayor capitalización bursatil

In [19]:
serie_ids = df_coins['id']

In [20]:
serie_ids = serie_ids.head(10)

serie_ids

0         bitcoin
1        ethereum
2          tether
3     binancecoin
4        usd-coin
5          ripple
6    staked-ether
7         cardano
8        dogecoin
9          solana
Name: id, dtype: object

## Definimos una función para traernos la data historica
Incluye precio, capitalización de mercado y volumen movido en 24h

In [10]:
def get_market_chart(id):
    endpoint = f"/coins/{id}/market_chart"
    url = base_url + endpoint
    parameters = {
        "id" : id,
        "vs_currency" : "usd",
        "days" : "max",
        "interval" : "daily",
        "precision" : "3"
    }

    try:
        
        response = requests.get(url, params = parameters)
        response.raise_for_status()  # Verificar si la solicitud fue exitosa
        data = response.json()
        print("Solicitud exitosa")
        return data
    except requests.exceptions.RequestException as e:
        exception = f"Error al realizar la solicitud:, {e}" 
        return exception

Hiteramos sobre la serie de Pandas

In [12]:
df_ethereum = get_market_chart("ethereum")

Solicitud exitosa

In [15]:
df_ethereum = pd.DataFrame(df_ethereum)
df_ethereum.info()
df_ethereum.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prices         2879 non-null   object
 1   market_caps    2879 non-null   object
 2   total_volumes  2879 non-null   object
dtypes: object(3)
memory usage: 67.6+ KB

,prices,market_caps,total_volumes
0,"[1438905600000, 2.832]","[1438905600000, 0.0]","[1438905600000, 90622.0]"
1,"[1438992000000, 1.331]","[1438992000000, 80339475.0]","[1438992000000, 368070.0]"
2,"[1439164800000, 0.688]","[1439164800000, 41556309.21112176]","[1439164800000, 400464.0745435489]"
3,"[1439251200000, 1.067]","[1439251200000, 64539006.306272194]","[1439251200000, 1518998.2053373822]"
4,"[1439337600000, 1.257]","[1439337600000, 76013261.05415402]","[1439337600000, 2073893.3450314845]"

In [17]:
df_ethereum['timestamp'] = df_ethereum['prices'].str[0]
df_ethereum['prices'] = df_ethereum['prices'].str[1]
df_ethereum['market_caps'] = df_ethereum['market_caps'].str[1]
df_ethereum['total_volumes'] = df_ethereum['total_volumes'].str[1]

In [18]:
df_ethereum.info()
df_ethereum.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prices         2879 non-null   float64
 1   market_caps    2878 non-null   float64
 2   total_volumes  2879 non-null   float64
 3   timestamp      2879 non-null   int64
dtypes: float64(3), int64(1)
memory usage: 90.1 KB

   prices   market_caps  total_volumes      timestamp
0   2.832  0.000000e+00   9.062200e+04  1438905600000
1   1.331  8.033948e+07   3.680700e+05  1438992000000
2   0.688  4.155631e+07   4.004641e+05  1439164800000
3   1.067  6.453901e+07   1.518998e+06  1439251200000
4   1.257  7.601326e+07   2.073893e+06  1439337600000